<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-between p-0">
    <% if current_page?(root_path) %>
      <%= link_to "A propos", root_path, class: "nav-link active-link" %>
    <% else %>
      <%= link_to "A propos", root_path, class: "nav-link" %>
    <% end %>
    <% if current_page?(formations_path) %>
      <%= link_to "Formations", formations_path, class: "nav-link active-link" %>
    <% else %>
      <%= link_to "Formations", formations_path, class: "nav-link" %>
    <% end %>
    <% if current_page?(experiences_path) %>
      <%= link_to "Expériences", experiences_path, class: "nav-link active-link" %>
    <% else %>
      <%= link_to "Expériences", experiences_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
